h1 { /*header*/
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 45px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  text-shadow: 4px 3px 0px rgb(0, 0, 0);
  font-weight: 700; 
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgb(176, 228, 252), 0 0 10px #E6F7FF, 0 0 15px #E6F7FF, 0 0 20px #4DA6FF, 0 0 30px #4DA6FF, 0 0 40px #4DA6FF, 0 0 55px #4DA6FF, 0 0 75px #4DA6FF;
}

h2{
  text-align:center;
  color: white;
}

audio{
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
}

form {
  text-align: center;
}

p{
  vertical-align: middle;
  line-height: 200px;
  margin-top: -5px;
  padding-left: 19%;
  text-align: center;
  top: 50%;
  width: 80%;
  color: white;
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

audio {
  text-align: center;
}

p {
    text-align: center;
    line-height: 1.8;
}

